src/orchestration/step_function_definition.json
{
  "Comment": "Multi-Agent Incident Remediation State Machine",
  "StartAt": "ClassifyEvent",
  "States": {
    "ClassifyEvent": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:ArchitectAgent",
      "Next": "ParallelInvestigation"
    },
    "ParallelInvestigation": {
      "Type": "Parallel",
      "Next": "EvaluateCompliance",
      "Branches": [
        {
          "StartAt": "AnalyzeSecurity",
          "States": {
            "AnalyzeSecurity": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:123456789012:function:SecurityAgent",
              "End": true
            }
          }
        },
        {
          "StartAt": "AnalyzeCost",
          "States": {
            "AnalyzeCost": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:123456789012:function:CostAgent",
              "End": true
            }
          }
        },
        {
          "StartAt": "RetrievePolicy",
          "States": {
            "RetrievePolicy": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:123456789012:function:RAGKnowledgeAgent",
              "End": true
            }
          }
        }
      ]
    },
    "EvaluateCompliance": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:ComplianceAgent",
      "Next": "ProposeRemediation"
    },
    "ProposeRemediation": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:RemediationAgent",
      "Next": "AwaitHumanApproval"
    },
    "AwaitHumanApproval": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:HumanApprovalAgent",
      "Next": "CheckApprovalStatus"
    },
    "CheckApprovalStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.approved",
          "BooleanEquals": true,
          "Next": "ExecuteRemediation"
        }
      ],
      "Default": "AbortRemediation"
    },
    "ExecuteRemediation": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:RemediationWorker",
      "Next": "LogObservability"
    },
    "AbortRemediation": {
      "Type": "Pass",
      "Next": "LogObservability"
    },
    "LogObservability": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:ObservabilityAgent",
      "End": true
    }
  }
}
